
body {
  background-image: url("bk.jpg");
  background-size: cover;
  color: #FFF;
  font-family: 'Raleway', black;
}

svg{ 
    width: 100%;
    position: absolute; 
    z-index: 0;
    top: 0;
    left: 0; 
    height: 100%;
  }
  svg text {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 38px;
  }

 
  svg rect {
    fill:whitesmoke;
  }
  svg > rect {
      -webkit-mask: url(#mask);
      mask: url(#mask);
  }

.img-responsive {
  width: 90vw;
  max-width:500px;
}


p {
    font-family: 'Raleway';
    font-weight: bold;
    margin-top: 0rem;
    font-size: 18rem;
    color:rgba(177, 0, 0, 0.774);
    position:relative; 
    z-index: 1;
  }  

.alert {
  margin-top: 10px;

}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  background: rgba(255, 255, 255, 0.2);
  min-height: 100vh;
  overflow:hidden;
  position:relative; 
  z-index: 2;
}

.search {
  flex: 1;
  text-align:center;
  position:relative; 
  z-index: 2;
}

button {
  background-color: whitesmoke;
  border: 2;
  color:black;
  font-size: 2em;
  padding: 10px;
  margin-left: 0;
  font-family: 'Raleway';
  position:relative; 
  z-index: 2;
}

input[type=text] {
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  border: 2px solid grey;
  color:black;
  font-family: 'Raleway';
  font-size: 2em;
  padding: 8px;
  margin-right: 0;
  text-align:center;
  position:relative; 
  z-index: 2;
}


::-webkit-input-placeholder {
  color: black;
  position:relative; 
  z-index: 2;
}

:-moz-placeholder {
  color: black;
  position:relative; 
  z-index: 2;
}

::-moz-placeholder {
  color: black;
  position:relative; 
  z-index: 2;
}

:-ms-input-placeholder {
  color: black;
  position:relative; 
  z-index: 2;
}

#poster {
  margin-top: 20px;
  z-index: 2;
  position:relative; 
}

#poster p {
  font-size: 2em;
  color: rgba(177, 0, 0, 0.774);
  z-index: 2;
  position:relative; 
}

input:focus {
  outline: none;
  z-index: 2;
  position:relative; 
}

.alert {
  background-color: rgba(0, 0, 0, 0.95);
  display: inline;
  padding: 10px;
  color: white;
  z-index: 2;
  position:relative; 

}